@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish' !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    background-color: #151F38;
}

.btn {
    border-radius: 4px;
    background: #281E5D;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0em;
}

table {
    width: 100%;
    background: #0A132B;
}

tr {
    height: 96px;
    /* padding: 38px 72px; */
}

td,
th {
    /* padding: 38px 30px; */
    text-align: left;
}


p {
    font-size: 16px;
}

h1 {
    font-size: 38px !important;
    line-height: 50px;
}

h2 {
    font-size: 32px !important;
    line-height: 42px;
}

h3 {
    font-size: 28px !important;
    line-height: 42px;
}

h4 {
    font-size: 22px !important;
}

.mulish-h2 {
    font-family: mulish;
    font-weight: 600 !important;
}

.sharp-h2 {
    font-family: Sharp Sans;
    font-weight: 600 !important;
}

.inter-h2 {
    font-family: Inter;
    font-weight: 500 !important;
}

.inter {
    font-family: Inter;
}

.mulish {
    font-family: mulish;
}

.sharp-sans {
    font-family: Sharp Sans;
}

.primary-white {
    color: #fff;
}

.secondary-white {
    color: #DCE0E9;
}

.faded {
    color:#BFC3CE;
}


.header-sect {
    height: 757px;
    background: #081B3D; 
    /* padding: 122px 0 123px 121px; */
}

.sect-2 {
    height: 757px;
    width: 100%;
    background: #081B3D;
    padding: 148px 0 303px 231px;
}

.sect-2-img {
    height: 605px;
    /* width: 910px; */
    position: absolute;
    left: 809px;
    top: 684px;
}


.coin-category-card {
    width: auto;
    height: 30px;
    background: #1F2B4A;
    /* padding: 4px 8px 6px 8px; */
    border-radius: 2px;
    text-align: center;
}

.coin_category-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 2px;
}






/* *******************LOGIN AND SIGNUP STYLES****************** */

#login-page {
    background: #151F38;
    height: 100vh;
    width: 100%;
    position: fixed;
    text-align: center;
    /* padding: 80px 0 0 0; */
}

.login-box {
    width: 500px;
    height: 500px;
    padding: 49px 61px 87px 61px;
    margin-top: 63px;
}

.rect9 {
    width: 378px;
    height: 56px;
    border-radius: 2px;
    background: #fff;
}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 24px !important;
    }

    p {
        font-size: 14px;
    }

    .login-box {
        width: 350px;
        height: 600px;
        padding: 30px 1px 50px 1px;
    }
    .rect9 {
        width: 345px;
    }
}

